<component name="ArtifactManager">
  <artifact type="war" name="Spring-secrity-role-based-Login:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringSecurityRoleBasedLoginExample.war">
      <element id="artifact" artifact-name="Spring-secrity-role-based-Login:war exploded" />
    </root>
  </artifact>
</component>